<button class="float-button">Crear</button>
<div class="payments-container">
  <h2 class="title-payments">Pagos</h2>
  <div class="payment-states">
    <ul>
      <li><span class="active-state">Activos</span><small class="active-badge">3</small></li>
      <li><span>Enviados</span><small>0</small></li>
      <li><span>Finalizados</span><small>0</small></li>
      <li><span>Pausados</span><small>0</small></li>
    </ul>
  </div>
  <div class="payment-details">
    <div class="item-detail">
      <p>Total a pagar</p>
      <span>$600.000</span>
      <p><span>Total pagos: 3 (5 facturas)</span></p>
    </div>
    <div class="item-detail">
      <p>Por vencer en 7 días</p>
      <span>8 facturas</span>
      <p><span>Hoy: 4 facturas</span></p>
    </div>
    <div class="item-detail">
      <p>Proveedor mayor monto</p>
      <span>Clínica de piel</span>
      <p><span>Total: $3.000.000</span></p>
    </div>
    <div class="item-detail">
      <p>Categoría más frecuente</p>
      <span>Servicios de salud</span>
      <p><span>Frecuencia: 83</span></p>
    </div>
  </div>
</div>

