.paginator {
  position: absolute;
  right: 10px;
  width: 35%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 20px 0;
  .paginator-message {
    margin-right: 10px;
  }
  .paginator-controls {
    display: flex;
    align-items: center;
    .paginator-button {
      margin: 0 5px;
      cursor: pointer;
    }
    .paginator-page {
      margin: 0 5px;
      cursor: pointer;
      padding: 5px 10px;
    }
  }
  .paginator-info{
    margin-left: 20px;
    border: 1px solid black;
    border-radius: 3px;
    padding: 5px 10px;
    width: 300px;
  }
}

.paginator-page.active {
  font-weight: bold;
  border: 1px solid black;
  border-radius: 3px;
}
