<ul class="menu-vertical">
  <li class="item">
    <img src="../../../assets/icons/menu-1.svg" alt="" srcset="" />
    <a href="#" class="active">Menú 1</a>
  </li>
  <li class="item">
    <img src="../../../assets/icons/menu-2.svg" alt="" srcset="" />
    <a href="#" class="active">Menú 2</a>
  </li>
  <li class="item">
    <img src="../../../assets/icons/pagos.svg" alt="" srcset="" />
    <a href="#">Pagos</a>
  </li>
  <li class="item">
    <img src="../../../assets/icons/menu-3.svg" alt="" srcset="" />
    <a href="#">Menú 3</a>
  </li>
  <li class="item">
    <img src="../../../assets/icons/bancos.svg" alt="" srcset="" />
    <a href="#">Bancos</a>
  </li>
  <li class="item">
    <img src="../../../assets/icons/menu-4.svg" alt="" srcset="" />
    <a href="#">Menú 4</a>
  </li>
  <li class="item">
    <img src="../../../assets/icons/menu-5.svg" alt="" srcset="" />
    <a href="#">Menú 5</a>
  </li>
</ul>
